.blog{
	body{
		background:$white!important;
	}

	.faux-button{
		background-color: $white;
		border: 2px solid $dark-purple!important;
		border-radius: 8px;
		color: $dark-purple;
	}

	.faux-button:hover{
		background-color: $dark-purple!important;
		border: 2px solid $dark-purple!important;
		border-radius: 8px;
		color: $white;
		text-decoration: none!important;
	}

	.post{
		background-color: $white;
	}
	.entry-header{
		background-color: $white;
	}

	.footer-nav-widgets-wrapper{
		background-color: $dark-purple!important;
	}

	.entry-content{
		font-family:$generalFont!important;
	}
}