.single{
	body{
		background:$white!important;
	}

	.featured-media-inner{
		margin-top: 10vh;
	}

	.footer-nav-widgets-wrapper{
		background-color: $dark-purple!important;
	}

	.entry-content{
		font-family:$generalFont!important;
	}
}

.single-post{
	.entry-title{
		
			color: $dark-purple!important;
	}
}