// buttons styles

.wp-block-button__link{
	background-color: $white;
	border: 2px solid $dark-purple!important;
	border-radius: 8px;
	color: $dark-purple;
}

.wp-block-button__link:hover{
	background-color: $dark-purple!important;
	border: 2px solid $dark-purple!important;
	border-radius: 8px;
	color: $white;
	text-decoration: none!important;
}