nav {
	a{color:$white!important;}
	.primary-menu{
		align-items:center;
	}
	.menu-item-279{
		
		a{
			background-color: $red;
			border: 2px solid $dark-purple!important;
			border-radius: 8px;
			padding:1rem;
			
			transition: $transition-all;
			&:hover{
				background-color: $dark-purple!important;
				border: 2px solid $dark-purple!important;
				border-radius: 8px;
				color: $white !important;
				text-decoration: none!important;
			}
		}
	}
}

.mobile-menu a{
	color:$dark-purple!important;
	text-decoration: none;
}